:root {
  --r-heading-text-transform: none;
  --r-heading-font: "Merriweather", serif;
  --r-main-font: "Merriweather", serif;
}

.reveal {
  --r-main-font-size: 30px;
}

.reveal section[data-markdown] {
  padding: 1em;
  box-sizing: border-box;
}
.reveal section[data-markdown].present {
  max-height: 100%;
  overflow-y: auto;
}

.reveal .slides {
  text-align: left;
}

/* Titles */
@supports (-webkit-background-clip: text) {
  .reveal h1,
  .reveal h2 {
    --custom-gradient-from: #004a9f;
    --custom-gradient-to: #00bc42;

    background: linear-gradient(to right, var(--custom-gradient-from), var(--custom-gradient-to));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  .reveal h2 {
    --custom-gradient-from: #9f2d00;
    --custom-gradient-to: #d68f00;
  }
  .reveal section[id] h2 {
    --custom-gradient-from: #004a9f;
    --custom-gradient-to: #00bc42;
  }
  .reveal h1::selection,
  .reveal h2::selection {
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial;
  }
}

.reveal section[id] {
  --r-heading2-size: 2em;
}

.reveal h3 {
  margin-top: 40px;
}

/* Misc */
.reveal ul,
.reveal ol {
  display: block;
}

.reveal code {
  color: #ff5722;
}

.reveal blockquote {
  box-shadow: none;
  text-align: left;
  padding: 0 0 0 1em;
  border-left: 0.05em solid;
  margin: 1em;
  width: auto;
}
.reveal p:has(cite) {
  font-size: 0.5em;
}
.reveal cite {
  opacity: 0.75;
  font-family: var(--r-main-font);
  font-style: normal;
}
.reveal cite::before {
  content: "– ";
}

.reveal .custom-quote-large {
  font-size: 150%;
}
.reveal .custom-quote-xlarge {
  font-size: 400%;
}

/* Images */
.reveal .custom-inline {
  vertical-align: top;
  margin-top: 0;
  margin-left: 2em;
  max-width: 25%;
}
.reveal .custom-right {
  float: right;
  width: 25%;
}

.reveal .custom-lawsuit-beyonce {
  float: left;
  width: 50%;
}
.reveal .custom-lawsuit-airlines {
  float: right;
  width: 50%;
}
.reveal .custom-lawsuit-dominos {
  float: right;
  width: 50%;
}

.reveal .custom-hsr {
  float: left;
  width: 50%;
}
.reveal .custom-hsr + .custom-hsr {
  float: none;
}

.reveal .custom-tenon {
  max-height: 25vh;
}

.reveal .custom-accessibe {
  float: right;
  width: 50%;
}

.reveal .custom-fire {
  max-height: 33vh;
}

.reveal .custom-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
}
