.reveal {
  font-size: 30px;
}

.reveal .present {
  max-height: 100%;
  overflow-y: auto;
}

.reveal h3 {
  margin-top: 40px;
}

.reveal .custom-logo {
  max-width: 200px;
}
.reveal .custom-number {
  font-size: 400%;
}
.reveal .custom-lawsuit-beyonce {
  float: left;
  width: 50%;
}
.reveal .custom-lawsuit-airlines {
  float: right;
  width: 50%;
}
.reveal .custom-lawsuit-dominos {
  float: right;
  width: 50%;
}

.reveal .custom-http-archive {
  float: right;
  width: 25%;
}
.reveal .custom-http-archive + ul {
  display: block;
}
